html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
  text-align: center;
}

.app h1 {
  font-size: 5rem;
}

.search-results {
  margin: 2rem auto;
}

.search-results--image {
  max-width: 200px;
  height: auto;
}
